.shop {
  font-family: Roboto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.shop-header{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F2F2F2;
  gap: 1rem;
  width: 100%;
  height: 10rem;
  margin: 0 0 5rem 0;
}

.shop-header a{
  text-decoration: none;
  color: #303030;
}

.shop-header-page p{
  opacity: 0.5;
}

.shop-sort {
  display: flex;  
  justify-content: space-between;
  width: 70rem;
  height: 5rem;
  align-items: center;
  border: 1px solid #c2c2c2;
  margin: 0 0 2rem 0;

}

.shop-sort .icons {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.shop-sort .icon1,
.shop-sort .icon2{
  width: 3rem;
  height: 3rem;
  border: 1px solid #c2c2c2;
}

.shop-sort button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
}
.shop-sort i {
  background-color: #FFFFFF;
  padding: auto;
  opacity: 0.7;
}

.dropdown select {
  padding: 1rem 1rem 1rem 0.5rem;
  margin: 0 1rem 0 0;
  border: 1px solid #c2c2c2;
  opacity: 0.5;
}

.shop-display-grid {
  display: grid;
  grid-template-rows: auto; 
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem; 
  margin: 0 5rem 2rem 5rem;
  width: 70rem;
}

.shop-display-flex {
  display: flex;
  flex-direction: column;
}

.card-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 32rem;
  border: 1px solid #cfcfcf;
  border-radius: 1rem;
  overflow: hidden;
}

.card-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 2rem 0;
  padding: 0 1rem 0 0;
  width: 70rem;
  overflow: hidden;
}

.card-row .card-img {
  width: 15rem;
  border-radius: 10%;
  overflow: hidden;
}

.card-img-large {
  width: 100%;
}

.card-img-small {
  width:100%;
}

.card-info-description,
.card-info-price {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10rem;
}

.card-info-1 {
  padding: 0.5rem 0 0.5rem 0;
}
.card-info-2 {
  padding: 0.5rem 0 0.5rem 0;
}

.shop .card-icons {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
}

.card-icons-1,
.card-icons-2,
.card-icons-3 {
  border: 1px solid #cfcfcf;
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.shop .add-to-wishlist,
.shop .preview,
.shop .add-to-cart{
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.pages {
  display: flex;  
  justify-content: center;
  width: 70rem;
  height: 5rem;
  align-items: center;
  border: 1px solid #c2c2c2;
  margin: 0 0 2rem 0;
}

.pages-button {
  padding: 1rem;
  cursor: pointer;
  border: none;
  margin: 0.5rem;
}

.pages-button:hover {
  color: #FF7E03;
}

.selected {
  background-color: #FF7E03;
  color: #FFFFFF;
}

.selected:hover {
  color: #FFFFFF;
}


.popup,
.add-cart-popup{
  display: flex;
  justify-content: space-between;
  background-color: hsl(218, 3%, 55%);
  color: #FFFFFF;
  position: fixed;
  bottom: 1rem;
  animation: fadeInOut 2s ease-in-out;
  animation-iteration-count: initial;
}

.popup p,
.add-cart-popup p{
  padding: 1rem;
}

.popup button,
.add-cart-popup button {
  background-color: #888B90;
  border: none;
  padding: 1rem 1rem 1rem 0;
  color: #FFFFFF;
  cursor: pointer;
}

.popup-add-to-cart {
  display: flex;
  align-items: center;
  justify-content: start;
}

.checkout-add-button {
  margin: 0 1rem 0 0;
}

.decrease-button,
.increase-button {
  border: none;
  background-color: #FFFFFF;
  padding: 1rem;
  cursor: pointer;
}



@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  10%, 90% {
    opacity: 1;
  }
}

.checkout-popup {
  display: flex;
  justify-content: space-between;
  background-color: #FFFFFF;
  position: fixed;
  bottom: 10rem;
  z-index: 999;
}

.checkout-popup img{
  width: 15rem;
  padding: 1rem;
}

.checkout-popup-right {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-evenly;
}

.popup-title,
.popup-description,
.popup-price{
  width: 25rem;
}

.add-button {
  width: 10rem;
  padding: 0.5rem;
  background-color: #313131;
  color: #FFFFFF;
  border: none;
  cursor: pointer;
}

.add-button:hover {
  background-color: #FF7E03;
}

.close-button{
  position: absolute;
  right: 0;
  top: 0;
  background-color: #FFFFFF;
  border: none;
  padding: 1rem;
  cursor: pointer;
}







