.privacy {
  display: flex;
  flex-direction: column;
  padding: 5rem;
  align-items: start;
  overflow-x: hidden;
}

.privacy h1 {
  padding: 1rem;
}

.privacy ul {
  margin: 0 0 0 4rem;
}

.privacy p {
  padding: 1rem;
}

