nav {
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 4rem;
  font-family: sans-serif;
}

.site-title {
  font-size: 2rem;
  color: #313131;
  font-weight: bold;
}

#subnavbar {
  display: flex;
  list-style: none;
  gap: 3rem;
  color: #313131;
}

#subnavbar li a {
  color: #313131;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
}

nav div {
  display: flex;
  gap: 1rem;
}
nav div button {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

nav div button i {
  color: #313131;
  font-size: 1.2rem;
}

.menu-bar {
  display: none;
}

.shopping-cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -0.2rem;
  right: 0; 
  background-color: #FF7E03;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  border-radius: 50%;
  font-size: 0.7rem;
  color: #FFFFFF;
} 

.settings-popup {
  display: flex;
  flex-direction: column;
  align-items: left;
  position: absolute;
  background-color: #FFFFFF;
  padding: 1rem;
  top: 7rem;
  right: 6rem;
  height: 8rem;
  width: 5.5rem;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  border-radius: 1rem;
  box-shadow: 0px -2px 12px 0px rgba(135,135,135,0.75);
  -webkit-box-shadow: 0px -2px 12px 0px rgba(135,135,135,0.75);
  -moz-box-shadow: 0px -2px 12px 0px rgba(135,135,135,0.75);
}

.settings-popup ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.settings-popup a {
  color: #313131;
  font-size: 1rem;
  padding: 1rem;
  font-size: 0.7rem;
  transition: 0.3s ease-in-out;
}

.settings-popup a:hover {
  color:#FF7E03;
  margin-left: 0.5rem;
}


.fade-in {
  opacity: 1;
  visibility: visible;
}

.fade-out {
  opacity: 0;
  visibility: hidden;
}

.nav-cart-dropdown {
  position: absolute;
  top: 7rem;
  right: 2rem;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15rem;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 999;
  border-radius: 1rem;
  box-shadow: 0px -2px 12px 0px rgba(135,135,135,0.75);
  -webkit-box-shadow: 0px -2px 12px 0px rgba(135,135,135,0.75);
  -moz-box-shadow: 0px -2px 12px 0px rgba(135,135,135,0.75);

}

.nav-cart-dropdown h3{
  margin: 0;
  padding: 1rem 0 0 0;
  border-bottom: 1px solid #F2F2F2;
}

.nav-cart-display-body {
  display: flex;
  font-size: 0.7rem;
  align-items: center;
  padding: 1rem;
}

.nav-cart-display-img img {
  height: 100%;
  width: 100%;
  border-radius: 10%;
}

.nav-cart-display-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-cart-display-quantity {
  display: flex;
  align-items: center;
}

.nav-cart-button {
  width: 7rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
  background-color: #313131;
  color: #FFFFFF;
  border: none;
  margin-bottom: 1rem;
  border-radius: 0.3rem;
}

.nav-cart-button:hover {
  background-color: #FF7E03;
}

@media (max-width: 850px) {
  .menu,
  .menu-x {
    display: block;
  }

  #subnavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #FFFFFF;
    top: 7rem;
    left:0rem;
    padding: 1rem;
    width: 100%;
    opacity: 0;
    height:100vh;
    z-index: 999;
  }

  #subnavbar.active {
    opacity: 1;
    transition: 0.5s;
    overflow-y: hidden;
  }
  
}


