nav {
  display: flex;
  background-color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 4rem;
  font-family: sans-serif;
}

.site-title {
  font-size: 2rem;
  color: #313131;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 3rem;
  color: #313131;
}

nav ul li a {
  color: #313131;
  font-size: 1rem;
}

nav a {
  text-decoration: none;
}

nav div {
  display: flex;
  gap: 1rem;
}
nav div button {
  border: none;
  background-color: #FFFFFF;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

nav div button i {
  color: #313131;
  font-size: 1.2rem;
}

.menu-bar {
  display: none;
}

.shopping-cart-icon {
  position: relative;
}

.cart-count {
  position: absolute;
  top: -0.2rem;
  right: 0.2rem; 
  background-color: #FF7E03;
  padding: 0.1rem 0.2rem 0.1rem 0.2rem;
  border-radius: 50%;
  font-size: 0.7rem;
  color: #FFFFFF;
} 

@media (max-width: 850px) {
  .menu,
  .menu-x {
    display: block;
  }

  #subnavbar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    background-color: #FFFFFF;
    top: 7rem;
    left:0rem;
    padding: 1rem;
    width: 100%;
    opacity: 0;
    height:100vh;
  }

  #subnavbar.active {
    opacity: 1;
    transition: 0.5s;
    overflow-y: hidden;
  }
  
}


